.pitanja {
  font-family: "Vaša Font Familija", sans-serif;
  font-size: 40px; /* Veličina fonta */
  font-weight: bold; /* Težina fonta (normal, bold, itd.) */
  white-space: pre-wrap; /* Ovo će omogućiti prelamanje teksta */
  overflow-wrap: break-word; /* Ovo će omogućiti prelamanje teksta po rečima */
  background: #264040;
  color: #fff;
  border-radius: 30px;
  padding: 60px;
  width: 50%;
}
.button {
  font-family: "Vaša Font Familija", sans-serif;
  background: #264040;
  color: #fff;
  font-size: 30px;
  padding: 10px;
  border-radius: 30px;
}
.button:hover{
  background: #396060;
}
.skor {
  font-family: "Vaša Font Familija", sans-serif;
  font-size: 25px; /* Veličina fonta */
  font-weight: bold; /* Težina fonta (normal, bold, itd.) */
  background: #264040;
  color: #fff;
  border-radius: 10px;
  padding: 10px;
  border-radius: 30px;
}
.box{
  padding: 40px;
}
.box2{
  padding: 30px;
}
